@import 'variables.css';
@import 'reset.css';
@import 'global.css';
@import 'typography.css';
@import 'components/header.css';
@import 'components/buttons.css';
@import 'components/chat-interface.css';
@import 'components/moa-diagram.css';
@import 'components/moa-controls.css';
@import 'components/svg-elements.css';
@import 'animations.css';
@import 'themes.css';
@import 'utilities.css';

/* Base styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-dark);
    color: var(--text-color-dark);
    font-family: var(--font-primary);
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#moa-diagram {
    flex: 0 0 85%;
    overflow: auto;
    padding: var(--spacing-md);
    background-color: var(--background-dark);
}

#moa-controls-container {
    flex: 0 0 14%;
    overflow-y: auto;
    padding: var(--spacing-md);
    background-color: var(--background-light);
    border-left: 1px solid var(--text-color-light);
}

#chat-interface {
    flex: 0 0 40%;
    height: 100%;
    overflow-y: auto;
    padding: var(--spacing-md);
    background-color: var(--background-dark);
    border-left: 1px solid var(--text-color-light);
}

footer {
    height: var(--footer-height);
    background-color: var(--background-light);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 var(--spacing-md);
}

